<div class="my-files-wrapper">
   <!-- todo: add command bar for crud operations -->

  <div class="table-commandbar-wrapper">
    <div class="table-commandbar">
      <button class="commandbar-btn">
        <span class="material-symbols-outlined">delete</span>
Delete
</button>
      <button class="commandbar-btn">
<span class="material-symbols-outlined">edit</span>
Rename</button>
      <button class="commandbar-btn">
        <span class="material-symbols-outlined">folder_info</span>
        Details
      </button>
    </div>
  </div>
  <% if (currentFolder == null) { %>

  <h3 class="my-files-heading">My files</h3>
  <% }else { %>

  <div class="my-files-breadcrumbs">
    <a href="/my-files">My files</a>
    <% breadcrumbs.forEach(breadcrumb => { %>
      <span class="material-symbols-outlined">
chevron_right
</span>
    <a href="/my-files/<%= breadcrumb.id %>" class="<%= currentFolder.id === breadcrumb.id ? "active" : "normal" %>"><%= breadcrumb.name %></a>
    <% }) %>
  </div>
  <% }%>



     <div class="table-wrapper">
      <table class="my-files-table">
        <thead class="my-files-header">
          <tr>
            <th><input type="checkbox" id="table-header-checkbox"  aria-label="Select all rows" class="table-checkbox"></th>
             <th>Name</th>
            <th>Size</th>
            <th>Created At</th>
          </tr>
        </thead>
        <tbody>
          <% folders.forEach(folder => { %>
          <tr data-folder-id="<%= folder.id %>">
            <td>
    
      <input type="checkbox" name="table-checkbox" class="table-checkbox">
 
            <td>
              <a href="/my-files/<%= folder.id%>"><%= folder.name %> (folder)</a>
            </td>
            <td><%= folder.files.length + folder.subfolders.length %> <%= folder.files.length + folder.subfolders.length === 1 ? 'item' : 'items'%></td>
             <td><%= folder.createdAt %></td>
          </tr>
          <% })%> <% files.forEach(file => { %>
          <tr data-file-id="<%= file.id %>">
            <td><input type="checkbox" name="table-checkbox" class="table-checkbox"></th>
            <td><%= file.name %> (file)</td>
            <td><%= file.size %></td>
            <td><%= file.createdAt %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% if (folders.length === 0 && files.length === 0) { %>
      <p class="empty-folder-text">This folder is empty</p>
      <% } %>
    </div>
 </div>
<script type="module" src="/scripts/table.js"></script>
