<div class="my-files-wrapper">
  <h3 class="my-files-heading">My files</h3>
  <table class="my-files-table">
    <thead class="my-files-header">
      <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Created At</th>
      </tr>
    </thead>

    <!-- TODO: add breadcrumbs with folder hierrachy and current folder in 
        with clickable link 
    -->

    <tbody>
      <!-- TODO: if current folder has no files or folders
        dispaly "This folder is empty" and maybe an cloud file icon like onedrive
      -->

      <% folders.forEach(folder => { %>
      <tr>
        <td>
          <a href="/my-files/<%= folder.id%>"><%= folder.name %> (folder)</a>
        </td>

        <td><%= folder.size %></td>
        <td><%= folder.createdAt %></td>
      </tr>
      <% })%> <% files.forEach(file => { %>
      <tr>
        <td><%= file.name %> (file)</td>

        <td><%= file.size %></td>
        <td><%= file.createdAt %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
