<div class="my-files-wrapper">

  <div class="table-commandbar-wrapper">
    <div class="table-commandbar">
      <button class="commandbar-btn share-btn" id="share-item-modal-btn">
        <span class="material-symbols-outlined">share</span>
        Share
      </button>
      <% if (currentFolder !== null) { %>
      
      <button class="commandbar-btn" id="delete-item-modal-btn">
        <span class="material-symbols-outlined">delete</span>
        Delete
      </button>
      <% } %>
      <button class="commandbar-btn" id="rename-item-modal-btn">
<span class="material-symbols-outlined">edit</span>
Rename</button>
      <button class="commandbar-btn" id="details-item-modal-btn">
        <span class="material-symbols-outlined">folder_info</span>
        Details
      </button>
    </div>
  </div>
  <% if (currentFolder == null) { %>

  <h3 class="my-files-heading">My files</h3>
  <% }else { %>

  <div class="my-files-breadcrumbs">
    <a href="/my-files">My files</a>
    <% breadcrumbs.forEach(breadcrumb => { %>
      <span class="material-symbols-outlined">
chevron_right
</span>
    <a href="/my-files/<%= breadcrumb.id %>" class="<%= currentFolder.id === breadcrumb.id ? "active" : "normal" %>"><%= breadcrumb.name %></a>
    <% }) %>
  </div>
  <% }%>



     <div class="table-wrapper">
      <table class="my-files-table">
        <thead class="my-files-header">
          <tr>
            <th>
              <input type="checkbox" id="table-header-checkbox" class="<%= folders.length === 0 && files.length === 0 ? 'hidden' : ''%>" aria-label="Select all rows" class="table-checkbox">
            </th>
             <th>Name</th>
            <th>Size</th>
            <th>Created At</th>
          </tr>
        </thead>
        <tbody>
          <!-- folder items -->
          <% folders.forEach(folder => { %>
          <tr data-type="folder" data-id="<%= folder.id %>">
            <td>
    
      <input type="checkbox" name="table-checkbox" class="table-checkbox" autocomplete="off">
              
            <td>
              <a href="/my-files/<%= folder.id%>" class="item-name"><%= folder.name %></a> <span>(folder)</span>
            </td>
            <td class="item-size"><%= folder.files.length + folder.subfolders.length %> <%= folder.files.length + folder.subfolders.length === 1 ? 'item' : 'items'%></td>
             <td class="created-at"><%= folder.createdAt %></td>
          </tr>
          <!-- file items -->
          <% })%> <% files.forEach(file => { %>
          <tr data-type="file" data-id="<%= file.id %>">
            <td><input type="checkbox" name="table-checkbox" class="table-checkbox" autocomplete="off"></th>
            <td ><a class="item-name"><span class="file-name"><%= file.name %></span><span class="file-extension">.<%= file.extension%></span> </a> <span>(file)</span></td>
            <td class="item-size"><%= file.size %></td>
            <td class="created-at"><%= file.createdAt %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% if (folders.length === 0 && files.length === 0) { %>
        <div class="empty-folder-text-wrapper">
          <p class="empty-folder-text">This folder is empty</p>
          <img src="/assets/my-files.svg" class="file-art" alt="File art" draggable="false">
          
        </div>
      <% } %>
    </div>
 </div>

    <%- include('./modals/deleteItemModal'); -%>
    <%- include('./modals/renameItemModal'); -%>
    <%- include('./modals/detailItemModal'); -%>
    <%- include('./modals/shareItemModal'); -%>


<script type="module" src="/scripts/table.js"></script>
