<div class="my-files-wrapper">
  <% if (currentFolder == null) { %>

  <h3 class="my-files-heading">My files</h3>
  <% }else { %>

  <div class="my-files-breadcrumbs">
    <a href="/my-files">My files</a>
    <% breadcrumbs.forEach(breadcrumb => { %>
      <span class="material-symbols-outlined">
chevron_right
</span>
    <a href="/my-files/<%= breadcrumb.id %>" class="<%= currentFolder.id === breadcrumb.id ? "active" : "normal" %>"><%= breadcrumb.name %></a>
    <% }) %>
  </div>
  <% }%>

  <table class="my-files-table">
    <thead class="my-files-header">
      <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Created At</th>
      </tr>
    </thead>

    <tbody>
      <% folders.forEach(folder => { %>
      <tr>
        <td>
          <a href="/my-files/<%= folder.id%>"><%= folder.name %> (folder)</a>
        </td>

        <td><%= folder.size %></td>
        <td><%= folder.createdAt %></td>
      </tr>
      <% })%> <% files.forEach(file => { %>
      <tr>
        <td><%= file.name %> (file)</td>

        <td><%= file.size %></td>
        <td><%= file.createdAt %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <% if (folders.length === 0) { %>
  <p class="empty-folder-text">This folder is empty</p>
  <% } %>
</div>
